<div class="row">
        
    <div class="col-sm">
        <div class="alert alert-primary" style="text-align: center" role="alert">
           Pay with card
        </div>

        <%- include('../cardpayments/ccard.ejs', {user: "lll"}); %>

    </div>
    <div class="col-sm">
      <p>
        <div class="alert alert-primary" style="text-align: center" role="alert">
          HOA Info
        </div>
      </p>

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">HOA info</th>
                <th scope="col">valor</th>
               
              </tr>
            </thead>
             <tbody style="color:yellowgreen">
                <% for(var i=0; i<6; i++) {%>
    
              <tr>
                
                <td><%=  hoakeys[i]   %></td>
                <td><%=  hoaval[i]   %></td>
                
              </tr>
              <% } %>
            </tbody>
          </table>


      
    </div>
  </div>



</div>