<div class="row" style="margin-top: 50px;">
        
    <div class="col-sm">
    
      <%- include('pagarcrypto', {user: "lll"}); %>       

    </div>
    <div class="col-sm">
      <div class="alert alert-primary" style="text-align: center" role="alert">
        <h3>Account Info</h3>
      </div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Account Info</th>
                <th scope="col">valor</th>
               
              </tr>
            </thead>
            <tbody style="color:yellowgreen">
                <% for(var i=0; i<6; i++) {%>
    
              <tr>
               
                <td><%=  keys[i]   %></td>
                <td><%=  valores[i]   %></td>
                
              </tr>
              <% } %>
            </tbody>
          </table>


      
    </div>
  </div>



</div>