<!DOCTYPE html>
<html>
    <%- include('layout2', {user: "lll"}); %>
    <%- include('inicio/swtests', {user: "lll"}); %>

<link rel='stylesheet' href='/stylesheets/style.css' />
<script>
   //This is the landing web page
       function loadDoc(req) {
          Swal.showLoading();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.response);
                    if (this.response=="Not a valid License"){                      //Swal.hideLoading();
                        miform.icon="error"
                        Swal.fire(miform).then(function(result) {
                            if (result.isConfirmed) {
                              
                              var res=loadDoc(result.value);                      //  Swal.showValidationMessage("algo ha pasado");
                              console.log(res.value)                              //location.assign("https://stackoverflow.com/")
                            }
                        })
                        Swal.showValidationMessage(this.response + ",Please Log in again ")
                      }else{
                    window.location.replace("/start?lic=1")
                    }
      
                }
            };
             xhttp.open("POST", "/checkLic", true); //xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            //const formData = new FormData("f1");
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "license": req, "response": { "name": "Tester" } })); //var params = req;            //xhttp.send(req);

        }
   
    

$( document ).ready(function() {

    console.log( "ready!" );
    var tempDivElement = document.createElement("div");
    tempDivElement.innerHTML = miform;    //var mf=miform.replace(/(\r\n|\n|\r)/gm, "");


    Swal.fire(miform).then(function(result) {
        if (result.isConfirmed) {
          var res=loadDoc(result.value);       //  Swal.showValidationMessage("algo ha pasado");
          console.log("swal back log ")//location.assign("https://stackoverflow.com/")
        }
      })
      })

</script>
    <div class="container-fluid no-padding">



    <div class="row">
        <div class="col-md-8 col-mod-offset-3">
            fdkjkdjck
            <div class="ajax-loader "><img src="/static/giphy.gif" class="img-responsive" /></div>
        </div>
    </div>
    </div>
</html>
