
    <title>{title}</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />



    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.response);
                    if (this.response=="OK"){
                        window.location.replace("/principal")

                    }else{
                        sweetAlert(this.response);

                    }

//document.getElementById("demo").innerHTML = this.responseText;
                }
            };
             xhttp.open("POST", "/checklogin",true);
            //xhttp.setRequestHeader('Content-type', 'application/json')
            //const formData = new FormData("f1");
            let params = new FormData(document.getElementsByName("f1")[0]);
            //xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            //xhttp.send("aaaa");
            //xhttp.body=JSON.stringify({ "license": 1, "response": { "name": "Tester" } });
            //xhttp.body=JSON.stringify(params);
            //xhttp.send(JSON.stringify({ "license": 1, "response": { "name": "Tester" } }));
            var p=JSON.stringify(params);
            xhttp.send(params);

        }
    </script>





<div class="login-box">
    <h2>Login</h2>
    <form name ="f1" enctype="multipart/form-data">
        <div class="user-box" >
            <input type="text" name="nombre" required="" id="lname">
            <label>Hoa registered last name</label>
        </div>

        <div class="user-box">
            <input type="text" name="account" required="true">
            <label>Account</label>
        </div>

        <div class="user-box">
            <input type="text" name="mail" required="">
            <label>mail</label>
        </div>

        <div class="user-box">
            <input type="password" name="passw" required="">
            <label>Password</label>
        </div>

        <a href="#"
           onclick="console.log('alf click'); loadDoc();"

        >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>

</div>



