     
    <title><center><%= title %></center></title>
    <link rel='stylesheet' href='stylesheets/login.css' />



    <script>
        
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.response);
                    if (this.response=="OK"){
                        window.location.replace("/principal")

                    }else{
                        Swal.fire(this.response);

                    }

                }
            };
             xhttp.open("POST", "/checklogin",true);
            //xhttp.setRequestHeader('Content-type', 'application/json')
            //const formData = new FormData("f1");
            let params = new FormData(document.getElementsByName("f1")[0]);
           
            var p=JSON.stringify(params);
            xhttp.send(params);

        }
        function checkhive(){
            //$('#sw-handshake').click();
            //getrespay()
           
        }
    </script>
    




<div class="login-box">
    <h4 style="color:lightgoldenrodyellow">Manage + Account  Login</h4>
    <form name ="f1" enctype="multipart/form-data">


        <div class="user-box">
            <input type="text" name="account" required="true">
            <label>Account</label>
        </div>
        <div class="user-box">
            <input type="password" name="passw" required="">
            <label>Password</label>
        </div>


        <div class="user-box">
            <input type="text" name="mail" required="">
            <label>mail(not required by now)</label>
        </div>
        <div class="user-box" >
            <input type="text" name="nombre" required="" id="lname">
            <label>last name< (not required by now)</label>
        </div>

          
        <a href="#" onclick="console.log('alf click'); loadDoc();"
        >
        <span></span> <span></span> <span></span> <span></span>
          Login with password 
         </a>
        </hr>

    </form>
    
    <form name ="fkeychlogin" enctype="multipart/form-data">
        <h2 style="margin-top: 40px;">Keychain login </h2>
    <div class="user-box" >
        <input type="text" name="nombre" required="required" id="keychname">
        <label>Keychain username </label>
    </div>

        <a href="#"    id="bhive" >
            <span></span>        <span></span>     <span></span>  <span></span>
            Login with Keychain
        </a>
    </form>

</div>



<script src='/javascripts/hive/aux.js' /></script>
<script src='/javascripts/hivekey.js' /></script>




