<!DOCTYPE html>
<html>

<%- include('layout2', {user: "lll"}); %>



<div class="container-fluid">


  <%- include('princaux/primerafila', {user: "lll"}); %>
  <%- include('princaux/fila2', {user: "lll"}); %>

   </div>






</html>