<!DOCTYPE html>
<html>
<%- include('layout2', {user: "lll"}); %>
<h2> Welcome to personal area !!!  - <%= title %>  HOA </h2>


<p>Info del account -- ++++</p>
<% 
keys;
%>


<div class="container-fluid">
  <%- include('princaux/primerafila', {user: "lll"}); %>
  <%- include('princaux/fila2', {user: "lll"}); %>

   </div>


     


</html>