<script>
var html=`
<div class="container">
    <div style="margin-top: 40px;">
    <center><h1>HOA Login Form </h1></center></div>
    <p>HOA - EasyPay is an electronic Credit Card payment service powered by {{banktext}}, an accredited and secure international Credit Card payment service and administrated by   HOA-e-Solutions, LLC.  For  PRIVACY Details see the the PRIVACY POLICY button below.</p>
    <p>With HOA - EasyPay you can pay your Annual Dues, Special Assessments, and any Fines or Late Fees via any Credit Card.  </p>
    </div>`
</script>
