<script>
var html=`

<div class="container">
     <div style="margin-top: 20px;">
    <h1>HOA Login Form </h1>
     <p>With HOA - EasyPay you can pay your Annual Dues, Special Assessments, and any Fines or Late Fees via any Credit Card.  </p>
       </div>

    
    `;

    var miform={
    html:html,
    allowOutsideClick: true,
      allowEscapeKey: false,
    //title: 'Welcome to EasyPay',
    text: 'Please insert the HOA License ',
    //icon: 'success',
    //showCancelButton: true,
       cancelButtonText :"Or Register",
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, send me there!',
    input: "text",
    inputLabel: "Please enter the License associated to your HOA",
    inputAttributes: {
      
        //required: 'true'
      },


  preConfirm: () => {
    var lic=document.getElementById('swal2-input').value
    Swal.showLoading();
    if (lic) {
      //var res=await loadDoc(lic)
      Swal.hideLoading();
         // Handle return value 
      } else {
        //Swal.hideLoading();
        var ntext=`<div class="alert alert-danger" role="alert">
          Please type a License in the box  !
        </div>`;
        Swal.showValidationMessage(ntext)   
      }
      
      

  }};
  /*
 miform.then(function(result) {
   if (result.isConfirmed) {
    //callhome();
    var res=loadDoc(result.value);
     //  Swal.showValidationMessage("algo ha pasado");
    console.log("2222")
     //location.assign("https://stackoverflow.com/")
   }
 })
*/

 var miform2={icon: 'success'};
    
</script>
